<div>

    <div class="page-title-container">
      <div (click)="goBack()" class="back-button-container">
          <i class="back-arrow fa fa-chevron-left fa-2x back-button" aria-hidden="true"></i>
          <span *ngIf="band" class="band-name">
            <b>{{ band.name }}</b>
          </span>
      </div>

      <input class="search-input form-control" type="text" placeholder="Search..." [(ngModel)]="searchTerm">
    </div>

    <div class="tracks-container band-tracks-container" *ngIf="band">
      <div 
        *ngFor="let track of band.tracks | search: { name: searchTerm }"
        class="track-item"
        [ngClass]="{ 'is-playing': track.isPlaying }">

        <i *ngIf="!track.isPlaying" class="fa fa-play-circle fa-2x play-button" aria-hidden="true" (click)="onTrackClicked(track)"></i>
        <i *ngIf="track.isPlaying" class="fa fa-spinner fa-pulse fa-2x play-button" aria-hidden="true"></i>

        <span class="text-size--md">
          <b>{{ track.name }}</b>
        </span>

        <i
          class="fa-heart favorite-toggle-button"
          aria-hidden="true"
          [ngClass]="[track.isFavorite ? 'fas' : 'far']"
          (click)="toggleFavorite(track)">
        </i>

        <queue-toggle [track]="track"></queue-toggle>
      </div>
    </div>

</div>
