<div *ngIf="tracks">

  <div class="page-title-container">
    <h3>QUEUE</h3>
  </div>

  <div class="tracks-container queue-tracks-container">
    <div 
      class="track-item"
      *ngFor="let track of tracks | filter: 'isQueued' : true"
      [ngClass]="{ 'is-playing': track.isPlaying }">

      <i class="fa fa-play-circle fa-2x play-button" aria-hidden="true" (click)="onTrackClicked(track)"></i>
      <span>{{track.name}}</span>

      <queue-toggle [track]="track"></queue-toggle>
    </div>
  </div>

</div>
