<div>

  <div #mainMenu>
    <main-menu></main-menu>
  </div>

  <div
    class="blur"
    [ngClass]="[ appService.isMainMenuOpened ? 'in' : 'out' ]">
  </div>

  <div
    id="main-container">
    <router-outlet></router-outlet>
  </div>

  <audio id="music-player" controls #audioPlayer></audio>

</div>
