<div class="band-list-container">

  <div
    class="band-item box"
    *ngFor="let band of bands"
    routerLink="/bands/{{ band.id }}">

    <span class="text-size--md">
      <b>{{ band.name }}</b>
    </span>
      
  </div>

</div>

<div class="clear"></div>
