:root {
  --border-radius: 2px;

  --primary-bg-color: white;
  --primary-color: rgba(0, 0, 0, 0.8);

  --navbar-item-color: black;
  --shadow-color: grey;
}

/* ========== THEMES ========== */
.solarized-light-theme {
  --primary-bg-color: #fdf6e3;
  --primary-color: #002b36;

  --navbar-item-color: #002b36;
  --shadow-color: #002b36;
}

.dark-theme {
  --primary-bg-color: #002b36;
  --primary-color: #eee8d5;

  --navbar-item-color: #eee8d5;
  --shadow-color: #eee8d5;
}

.red-theme {
  --primary-bg-color: #930000;
  --primary-color: #fdf6e3;

  --navbar-item-color: #fdf6e3;
  --shadow-color: #fdf6e3;
}
/* ============================ */

@keyframes glow {
  from {
    text-shadow: 0 0 2px var(--primary-color);
  }
  
  to {
    text-shadow: 0 0 10px var(--primary-color);
  }
}

body {
  font-family: "Dosis", cursive;

  background-color: var(--primary-bg-color);
  color: var(--primary-color);

  position: absolute;
  width: 100%;
}

a {
  color: var(--navbar-item-color);
  text-decoration: none;
}

hr {
  background-color: var(--primary-color);
}

.clear {
  clear: both;
}

.active {
  outline: none;
  animation: glow 1s ease-in-out infinite alternate;
}

.text-size--md {
  font-size: 17px;
}

.main-menu {
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: var(--primary-bg-color);
}

.nav-link {
  font-weight: bold;
  color: var(--navbar-item-color) !important;
}

.main-menu-collapsible-content {
  padding: 10px 22px 10px 22px;
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 16px 30px -12px var(--shadow-color);
}

#main-container {
  margin: 60px 18px 60px 8px;
}

#music-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-icon {
  color: var(--navbar-item-color);
  margin-right: 8px;
}

.play-button:hover {
  cursor: pointer;
}

.favorite-toggle-button {
  float: right;
  margin-top: 8px;
}

.favorite-toggle-button:hover {
  cursor: pointer;
}

.queue-toggle {
  cursor: pointer;
  float: right;
  margin-right: 15px;
  margin-top: 8px;
}

.back-button {
  margin-right: 20px;
  margin-left: 10px;
}

.track-item:hover {
  border: 1px dashed var(--primary-color);
  border-radius: var(--border-radius);
}

.track-item.is-playing {
  border: 0.5px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.band-list-container {
  text-align: center;
  padding: 10px;
}

.band-item {
  padding: 10px;
}

.band-item:hover {
  cursor: pointer;
  border: 1px dashed var(--primary-color);
}

.band-item:focus {
  outline: none;
}

.back-button-container:hover {
  cursor: pointer;
}

.page-title-container {
  position: fixed;
  z-index: 10;
  left: 0px;
  padding: 15px 30px 15px 30px;
  width: 100%;
  background-color: var(--primary-bg-color);
  border-bottom: 1px dashed var(--primary-color);
}

.search-input {
  margin: 8px 0 8px 0;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-image: none;
}

.search-input::placeholder {
  color: var(--primary-color);
}

.search-input:focus {
  color: var(--primary-color);
}

.search-button {
  color: var(--primary-color) !important;
  background-color: var(--primary-bg-color) !important;
  border-color: var(--primary-color) !important;
}

/* ========== HELPERS ========== */
.pointer {
  cursor: pointer;
}

.blur {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  opacity: 0;
}

.blur.in {
  pointer-events: auto;
  opacity: 0.7;
  transition: 0.3s opacity ease-in;
}

.blur.out {
  transition: 0.3s opacity ease-out;
}
/* ============================= */

/* ========== MOBILE ========== */
@media only screen and (max-width: 800px) {
  .main-menu--desktop {
    display: none;
  }

  .tracks-container {
    padding-left: 10px;
  }

  .band-tracks-container {
    margin-top: 182px;
  }

  .favorite-tracks-container {
    margin-top: 92px;
  }

  .queue-tracks-container {
    margin-top: 128px;
  }

  .search-result-tracks-container {
    margin-top: 128px;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-link > i {
    width: 16px;
    margin-right: 18px;
  }

  .main-menu-search-input {
    margin-bottom: 18px;
  }

  .band-name {
    font-size: 18px;
  }

  .back-arrow {
    font-size: 16px; 
  }

  .track-item {
    padding: 4px 10px 2px 10px;
  }

  .page-title-container {
    top: 46px;
  }

  .favorite-toggle-button {
    margin-right: 5px;
  }

  .band-item > span, .track-item > span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .band-item > span {
    max-width: 100%;
  }

  .track-item > span {
    max-width: 65%;
  }

  .back-button-container {
    margin-bottom: 10px;
  }

  .play-button {
    margin-right: 10px;
  }
}

/* ========== DESKTOP ========== */
@media only screen and (min-width: 801px) {
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    float: left;
    border: 0.5px solid var(--primary-color);
  }

  .main-menu--mobile {
    display: none;
  }

  .page-title-container {
    top: 60px;
  }

  .tracks-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .band-tracks-container {
    margin-top: 212px;
  }

  .favorite-tracks-container {
    margin-top: 112px;
  }

  .queue-tracks-container {
    margin-top: 112px;
  }

  .queue-tracks-container {
    margin-top: 142px;
  }

  .search-result-tracks-container {
    margin-top: 142px;
  }

  .band-name {
    font-size: 28px;
  }

  .back-arrow {
    font-size: 22px; 
  }

  .track-item {
    padding: 6px 10px 6px 10px;
  }

  .favorite-toggle-button {
    margin-right: 20px;
  }

  .back-button-container {
    margin-bottom: 20px;
  }

  .play-button {
    margin-right: 20px;
  }
}