<div>

  <div class="page-title-container">
    <h3>SEARCH RESULTS</h3>
  </div>

  <div class="tracks-container search-result-tracks-container">
    <div
      *ngFor="let track of tracks"
      class="track-item"
      [ngClass]="{ 'is-playing': track.isPlaying }">

      <i *ngIf="!track.isPlaying" class="fa fa-play-circle fa-2x play-button" aria-hidden="true" (click)="onTrackClicked(track)"></i>
      <i *ngIf="track.isPlaying" class="fa fa-spinner fa-pulse fa-2x play-button" aria-hidden="true"></i>

      <span>{{track.name}}</span>

      <i
        class="fa-heart favorite-toggle-button"
        aria-hidden="true"
        [ngClass]="[track.isFavorite ? 'fas' : 'far']"
        (click)="toggleFavorite(track)">
      </i>

      <queue-toggle [track]="track"></queue-toggle>
    </div>
  </div>

</div>
