<div>

  <div class="page-title-container">
    <h3>FAVORITE TRACKS</h3>
    <input class="search-input form-control" type="text" placeholder="Search..." [(ngModel)]="searchTerm">
  </div>

  <br/>

  <div class="tracks-container favorite-tracks-container">
    <div
      *ngFor="let track of favoriteTracks | search: { name: searchTerm }"
      class="track-item"
      [ngClass]="{ 'is-playing': track.isPlaying }">

        <i *ngIf="!track.isPlaying" class="fa fa-play-circle fa-2x play-button" aria-hidden="true" (click)="onTrackClicked(track)"></i>
        <i *ngIf="track.isPlaying" class="fa fa-spinner fa-pulse fa-2x play-button" aria-hidden="true"></i>
        <span>{{track.name}}</span>
        <i class="fa fa-heart favorite-toggle-button" aria-hidden="true" (click)="toggleFavorite(track)"></i>

        <queue-toggle [track]="track"></queue-toggle>

    </div>
  </div>

</div>
