<!-- DESKTOP -->
<div class="main-menu main-menu--desktop">

  <nav class="navbar navbar-light">
    <ul class="nav navbar-nav">
      <li class="nav-item pointer" routerLink="/bands" routerLinkActive="active">
        <a class="nav-link"><i class="fa fa-folder-open menu-icon" aria-hidden="true"></i> Bands</a>
      </li>
      <li class="nav-item pointer" routerLink="/favorite-tracks" routerLinkActive="active">
        <a class="nav-link"><i class="fa fa-star menu-icon" aria-hidden="true"></i> Favorite tracks</a>
      </li>
      <li class="nav-item pointer" routerLink="/queue" routerLinkActive="active">
        <a class="nav-link"><i class="fa fa-clipboard-list menu-icon" aria-hidden="true"></i> Queue</a>
      </li>
      <li class="nav-item pointer" (click)="onSyncClick()">
        <a class="nav-link">
          <i [ngClass]="{ 'fa-spin': syncInProgress }" class="fa fa-sync-alt menu-icon" aria-hidden="true"></i>
          {{ syncInProgress ? 'Syncing...' : 'Sync' }}
        </a>
      </li>
      <li class="nav-item pointer" (click)="changeColorTheme()">
        <a class="nav-link"><i class="fa fa-palette menu-icon" aria-hidden="true"></i> Toggle theme</a>
      </li>
    </ul>
    <div class="form-inline pull-xs-right">
      <input class="search-input form-control" #searchInputDesktop type="text" placeholder="Search tracks" (keyup.enter)="onSearchClick(searchInputDesktop.value)">
      <button class="search-button btn btn-outline" type="submit" (click)="onSearchClick(searchInputDesktop.value)">Search</button>
    </div>
  </nav>

</div>

<!-- MOBILE -->
<div class="main-menu main-menu--mobile">

  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-content">
      <span class="navbar-toggler-icon"><i class="fa fa-bars menu-icon" aria-hidden="true"></i></span>
    </button>
  </nav>

  <div id="navbar-toggle-content" class="collapse main-menu-collapsible-content">
    <div class="bg-dark p-4">
      <div class="nav-item pointer" routerLink="/bands" routerLinkActive="active" (click)="onRouteLinkClick()">
        <a class="nav-link"><i class="fa fa-folder-open menu-icon" aria-hidden="true"></i> Bands</a>
      </div>
      <div class="nav-item pointer" routerLink="/favorite-tracks" routerLinkActive="active" (click)="onRouteLinkClick()">
        <a class="nav-link"><i class="fa fa-star menu-icon" aria-hidden="true"></i> Favorite tracks</a>
      </div>
      <div class="nav-item pointer" routerLink="/queue" routerLinkActive="active" (click)="onRouteLinkClick()">
        <a class="nav-link"><i class="fa fa-clipboard-list menu-icon" aria-hidden="true"></i> Queue</a>
      </div>
      <div class="nav-item pointer" (click)="onSyncClick()">
        <a class="nav-link">
          <i [ngClass]="{ 'fa-spin': syncInProgress }" class="fa fa-sync-alt menu-icon" aria-hidden="true"></i>
          {{ syncInProgress ? 'Syncing...' : 'Sync' }}
        </a>
      </div>
      <div class="nav-item pointer" (click)="changeColorTheme()">
        <a class="nav-link"><i class="fa fa-palette menu-icon" aria-hidden="true"></i> Toggle theme</a>
      </div>
      <div class="form-inline">
        <input class="main-menu-search-input search-input form-control" #searchInputMobile type="text" placeholder="Search tracks" (keyup.enter)="onSearchClick(searchInputMobile.value)">
        <button class="search-button btn btn-outline" type="submit" (click)="onSearchClick(searchInputMobile.value)">Search</button>
      </div>
    </div>
  </div>

</div>
